.menu{
  display: flex;
  margin-top:-10px;
}

.home{
  background-color: pink;
  text-align: center;
  margin-top: 40px;
  position: absolute;
  right: 20px;
  border-radius: 5px;
  border-color: black;
}

.home a {
  color: white;
  font-family: monospace;
  font-size: 20px;
  text-decoration: none;
  padding:20px;
}

.home:hover{
  background-color: grey;
}

.lessons{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top:20px;
}

.card{
  height:220px;
  width:150px;
  background-color:white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px lightgrey;
  margin:10px;
}

.card a{
  text-decoration: none;
  color:black;
  font-family: monospace;
  font-size: 10px;
  text-align: center;
}

.card p{
  color:grey;
  font-family: monospace;
  font-size: 12px;
  margin:5px;
}

.card span{
  color: pink;
  font-family: monospace;
  font-size: 15px;
}

.card img{
  margin-top:0px;
  width:100%;
  border-radius: 10px 10px  0px  0px;
}

.info p{
  text-align: center;
  color:grey;
  font-family: monospace;
  font-size: 25px;
}

.info span{
  color:pink;
  font-size: 30px;
}