<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>contact</title>
  <link href="/static/contact.css" rel="stylesheet" type="text/css" />
</head>

<div class = "menu">
  <img src = "/img/logo3.png" height = "100px">
  <div class = "home">
    <a href="/index.html">Home</a>
  </div>
</div>

<hr style="border-top: dotted 1px;" />

<div class = "info">
  <p>please enquire with the email below for <span>one to one</span> and for <span>face to face</span> sessions</p>
</div>

<div class = "contact">
  <h1>Get In Touch</h1>
  <p>email: theeducationhubtutors@gmail.com</p>
  <p>number: 07308732373</p>
  <p></p>
</div>