<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GCSE</title>
  <link href="/static/ks3.css" rel="stylesheet" type="text/css" />
</head>

<div class = "menu">
  <img src = "/img/logo3.png" height = "100px">
  <div class = "home">
    <a href="/index.html">Home</a>
  </div>
</div>

<hr style="border-top: dotted 1px;" />

<div class = "info">
  <p>Lessons are <span>£10</span> per hour for groups and <span>£20</span> per hour for one to one</p>
</div>  

<div  class = "lessons">
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/QLsjaVYv4QCDhnhb7"><h1>Maths</h1></a>
    <p> a 1 hour lesson on <span>maths</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/uxqSDLACVY8FZKa9A"><h1>science</h1></a>
    <p> a 2 hour lesson on <span>all sciences</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/73Amqm8TAQtn4chY7"><h1>Chemistry</h1></a>
    <p> a 1 hour lesson on <span>chemistry</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/N1p5zA7dytxHpZ2R8"><h1>Biology</h1></a>
    <p> a 1 hour lesson on <span>Biology</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/4v5kVVJ1N85ZhvbU8"><h1>Physics</h1></a>
    <p> a 1 hour lesson on <span>Physics</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/44RdSv2YFJHmFobe7"><h1>English lit</h1></a>
    <p> a 1 hour lesson on <span>literature</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/gLgvUT1QguWsv7U9A"><h1>English language</h1></a>
    <p> a 1 hour lesson on <span>language</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/u2W7qymVJq9Jjn64A"><h1>Computing</h1></a>
    <p> a 1 hour lesson on <span>IT</span></p>
  </div>
</div>