<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>year 9</title>
  <link href="/static/ks3.css" rel="stylesheet" type="text/css" />
</head>

<div class = "menu">
  <img src = "/img/logo3.png" height = "100px">
  <div class = "home">
    <a href="/index.html">Home</a>
  </div>
</div>

<hr style="border-top: dotted 1px;" />

<div class = "info">
  <p>Lessons are <span>£10</span> per hour for groups and <span>£20</span> per hour for one to one</p>
</div>  

<div  class = "lessons">
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/smGMx3fxf7bHtUdv7"><h1>Maths</h1></a>
    <p> a 1 hour lesson on <span>maths</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/UeRxgtsoVtG2Y2Tv9"><h1>science</h1></a>
    <p> a 2 hour lesson on <span>all sciences</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/s4Xtx5BioaNxYTdk6"><h1>Chemistry</h1></a>
    <p> a 1 hour lesson on <span>chemistry</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/FqCfouGfqt9PyJmC8"><h1>Biology</h1></a>
    <p> a 1 hour lesson on <span>Biology</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/y6ncN9cZo2qeWfXv6"><h1>Physics</h1></a>
    <p> a 1 hour lesson on <span>Physics</span></p>
  </div>
  <div class  = "card">
    <img src  = "/img/maths pic.png" width = "100%">
    <hr style="border-top: dotted 1px;" />
    <a href = "https://forms.gle/EFUJH5vF3R8RzooX6"><h1>English</h1></a>
    <p> a 1 hour lesson on <span>English</span></p>
  </div>
</div>